<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simply Training</title>

    <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>static/favicon.ico">
    <link href="<%= BASE_URL %>static/miso/stylesheet.css" rel="stylesheet">
    <link href="<%= BASE_URL %>static/wendy/style.css" rel="stylesheet">
  </head>

  <body>
    <noscript>
      <strong>Please enable JavaScript to use the Simply Training website.</strong>
    </noscript>

    <div id="app">
      <div>
        Loading&hellip;
      </div>
    </div>
  </body>
</html>
