<template>
  <div class="faq">
    <h1>Frequently Asked Questions</h1>

    <h2>What is Simply Training?</h2>
    <p>
      Simply Training is a web application that helps you track your personal
      progress in ITG. Think fitness tracker, but for ITG. It keeps a diary,
      including the full list of songs and charts played with their respective
      scores, the number of steps taken and other aggregated statistics. There
      are also graphs and a filterable score list available.
    </p>
    <p>
      At the moment only dance/4-panel/ITG is supported, but if there is enough
      interest by the PIU community I might implement pump/5-panel too.
    </p>
    <p>
      I created this website to keep myself motivated, by having my progress
      visible in a chart. I hope it is useful for other people too.
    </p>

    <h2>How can I use Simply Training?</h2>
    <p>
      To upload your scores to the website you will have to use StepMania 5.0,
      5.1 or 5.3 (Outfox) with the
      <a href="https://simplyloveitg.com/">Simply Love</a>
      theme. The website relies on custom score files written by the theme,
      which have to be enabled in the options (<em>Options</em> &rarr;
      <em>Simply Love Options</em> &rarr; <em>Write Custom Scores</em>). Score
      files are stored in the user profile directory, so if you use USB
      profiles, the scores are stored on the USB stick. Handy!
    </p>
    <p>
      Ideally other themes will be supported in the future too.
    </p>

    <h2>Can I import my existing scores?</h2>
    <p>
      Yes! There is an
      <router-link
        v-if="$store.state.loggedIn"
        to="/upload/convert"
      >
        online conversion tool
      </router-link>
      <template v-else>online conversion tool</template>
      available. It can be used for the one-off conversion and upload of
      existing StepMania score files. It uses the score files from your
      <em>Upload</em> folder and tries to fill in all missing information from
      the song cache.
    </p>
    <p>
      If a song is missing from the cache, the score can not be converted and
      the upload is skipped. As long as all played songs are in the cache the
      conversion should work though. Unfortunately, marathon scores currently
      can't be converted (nor is it likely that they ever can be, due to
      technical difficulties), so they are skipped during conversion too.
    </p>
    <p>
      Note that the <em>Upload</em> score files don't contain information which
      game mode was used to obtain them, so the converter makes a guess based
      on the percent score, the judgment counts and other information. Results
      are somewhat reliable for passing scores, but not at all for failed
      scores, so timing statistics might be negatively affected by that.
    </p>
    <p>
      Alternatively, there is a
      <a href="https://gitlab.com/natano/simply-training/-/blob/release/convert.py">
        python script
      </a>
      available for offline conversion that works by the same principles.
    </p>

    <h2>Why can't I share my highscores?</h2>
    <p>
      Simply Training is designed as a personal progress tracker, so all scores
      you upload are only visible to yourself. Please use
      <a href="https://www.groovestats.com/">GrooveStats</a>
      to share your highscores.
    </p>

    <h2>Where do I report issues?</h2>
    <p>
      Open an issue on
      <a href="https://gitlab.com/natano/simply-training">GitLab</a>
      or drop me a mail at
      <a href="mailto:natano@simply.training">natano@simply.training</a>.
      I'm also happy to hear about your ideas how to improve the site.
    </p>

    <h2>Credits & Thanks</h2>
    <ul>
      <li>
        <a href="http://www.shirtpiggypig.com/">hurtpiggypig</a>
        - for creating the Simply Love theme and for allowing this website to
        be modelled after it
      </li>
      <li>
        <a href="https://github.com/quietly-turning">quietly-turning</a>
        - for re-creating Simply Love in StepMania 5 and for being supportive
        in creating this website
      </li>
      <li>
        <a href="https://www.twitch.tv/archiveflax">Archi</a>
        - for organizing amazing events that motivate me and many other people
        to keep pushing
      </li>
      <li>
        All stepartists without whom there would be no game to play
      </li>
      <li>
        All streamers that put themselves out there. Your videos are
        an inspiration!
      </li>
      <li>
        <a href="https://www.natano.net/about/">natano</a>
        - I made this website
      </li>
    </ul>
  </div>
</template>

<style scoped>
.faq {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 1em auto;
  padding: 0 1em;
  box-sizing: border-box;
  background-color: #1e282f;
}
@media (max-width: 960px) {
  .faq {
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
}

a {
  color: #dd57ff;
  text-decoration: none;
}

p, ul {
  font-family: sans-serif;
  font-size: 80%;
}
</style>
