<template>
  <div class="welcome">
    <div class="checkmark">
      <font-awesome-icon icon="check" size="5x"/>
    </div>

    <h1>You did it!</h1>
    <p>
      Go
      <router-link to="/upload">upload</router-link>
      some scores, or check out the
      <router-link to="/faq">FAQ</router-link>.
    </p>

  </div>
</template>

<style scoped>
.welcome {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 1em auto;
  padding: 0 1em;
  box-sizing: border-box;
  background-color: #1e282f;
}

.checkmark {
  text-align: center;
  margin-top: 0.5em;
  color: #66c955;
}

h1 {
  text-align: center;
}

a {
  color: #dd57ff;
  text-decoration: none;
}

p {
  font-family: sans-serif;
  font-size: 70%;
  color: #cccccc;
  text-align: center;
}
</style>
