/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2021 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mårten Nettelbladt
 * License URL: https://www.fontspring.com/licenses/marten-nettelbladt/webfont
 *
 *
 */

@font-face {
    font-family: 'Miso';
    src: url('miso-regular-webfont.woff2') format('woff2'),
         url('miso-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miso Bold';
    src: url('miso-bold-webfont.woff2') format('woff2'),
         url('miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
